<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>headerTitle</param-name>
        <param-value>My Secure Login Portal</param-value>
    </context-param>
    <context-param>
        <param-name>footerInfo</param-name>
        <param-value>© 2026 ICS2609 - Java Web App</param-value>
    </context-param>

    <context-param>
        <param-name>secretKey</param-name>
        <param-value>MySecr3tK3y12345</param-value> </context-param>
    <context-param>
        <param-name>cipherAlgorithm</param-name>
        <param-value>AES</param-value>
    </context-param>
    <context-param>
        <param-name>captchaLength</param-name>
        <param-value>9</param-value>
    </context-param>

    <!-- MySQL Context Parameters (for Course Table) -->
    <context-param>
        <param-name>mysqlDriver</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlURL</param-name>
        <param-value>jdbc:mysql://127.0.0.1:3310/course_db?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC</param-value>
    </context-param>
    <context-param>
        <param-name>mysqlUser</param-name>
        <param-value>app</param-value>      <!-- your MySQL username -->
    </context-param>
    <context-param> 
        <param-name>mysqlPass</param-name>
        <param-value>app123</param-value>   <!-- your MySQL password -->    
    </context-param>

    <!-- PostgreSQL Context Parameters (for Assignments or another table) -->
    <context-param>
        <param-name>postgresDriver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>postgresURL</param-name>
        <param-value>jdbc:postgresql://localhost:5432/course_db</param-value>
    </context-param>
    <context-param>
        <param-name>postgresUser</param-name>
        <param-value>postgres</param-value>      <!-- your PostgreSQL username -->
    </context-param>
    <context-param>
        <param-name>postgresPass</param-name>
        <param-value>postgres</param-value>   <!-- your PostgreSQL password -->
    </context-param>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.project.LoginServlet</servlet-class> 
        <init-param>
            <param-name>dbDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:derby://localhost:1527/LoginDB</param-value>
        </init-param>
        <init-param>
            <param-name>dbUser</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPass</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.project.AdminServlet</servlet-class> 
        <init-param>
            <param-name>dbDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:derby://localhost:1527/LoginDB</param-value>
        </init-param>
        <init-param>
            <param-name>dbUser</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPass</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>com.project.CaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.project.ReportServlet</servlet-class>
        <init-param>
            <param-name>dbDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:derby://localhost:1527/LoginDB</param-value>
        </init-param>
        <init-param>
            <param-name>dbUser</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPass</param-name>
            <param-value>app</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Course CRUD (MySQL) -->
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>com.project.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>

    <!-- Servlet for Course PDF Report (MySQL) -->
    <servlet>
        <servlet-name>CourseReportServlet</servlet-name>
        <servlet-class>com.project.CourseReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseReportServlet</servlet-name>
        <url-pattern>/CourseReportServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AssignmentServlet</servlet-name>
        <servlet-class>com.project.AssignmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssignmentServlet</servlet-name>
        <url-pattern>/AssignmentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AssignmentReportServlet</servlet-name>
        <servlet-class>com.project.AssignmentReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssignmentReportServlet</servlet-name>
        <url-pattern>/AssignmentReportServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>