<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>GlobalHeader</param-name>
        <param-value>ICS2609 2CSB SUGUI</param-value>
    </context-param>
    <context-param>
        <param-name>EncryptionKey</param-name>
        <param-value>MriONrSerTyNoIFtTfiOnYtREsRnoIRm</param-value>
    </context-param>
    <listener>
        <listener-class>test.Ears</listener-class>
    </listener>
    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>test.AuthenticationServlet</servlet-class>
        <init-param>
            <param-name>ClassPath</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>Username</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>Password</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>HostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>Port</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>Protocol</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>CaptchaLen</param-name>
            <param-value>8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>clerk</servlet-name>
        <servlet-class>test.ClerkServlet</servlet-class>
        <init-param>
            <param-name>ClassPath</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>Username</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>Password</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>HostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>Port</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>Protocol</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>exit</servlet-name>
        <servlet-class>test.ExitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>captcha</servlet-name>
        <servlet-class>test.CaptchaServlet</servlet-class>
        <init-param>
            <param-name>CaptchaLen</param-name>
            <param-value>8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>test.ReporterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>captchagen</servlet-name>
        <servlet-class>test.CaptchaGenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>test.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exit</servlet-name>
        <url-pattern>/exit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clerk</servlet-name>
        <url-pattern>/clerk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>captcha</servlet-name>
        <url-pattern>/captcha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>captchagen</servlet-name>
        <url-pattern>/captcha/gen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <error-page>
        <error-code>400</error-code>
        <location>/err/400.htm</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/err/403.htm</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/err/404.htm</location>
    </error-page>
    <error-page>
        <exception-type>java.sql.SQLException</exception-type>
        <location>/err/sql.htm</location>
    </error-page>
    <error-page>
        <exception-type>javax.security.sasl.AuthenticationException</exception-type>
        <location>/err/auth.htm</location>
    </error-page>
    <error-page>
        <exception-type>test.warden.InvalidEntryException</exception-type>
        <location>/err/auth_pxs.htm</location>
    </error-page>
    <error-page>
        <exception-type>test.warden.NullAuthenticationException</exception-type>
        <location>/err/auth_mtd.htm</location>
    </error-page>
    <error-page>
        <exception-type>test.warden.UsernameNotFoundException</exception-type>
        <location>/err/nxu.htm</location>
    </error-page>
    <error-page>
        <exception-type>test.warden.IncorrectPasswordException</exception-type>
        <location>/err/auth_nxp.htm</location>
    </error-page>
    <error-page>
        <exception-type>test.warden.UsernameFoundException</exception-type>
        <location>/err/pxu.htm</location>
    </error-page>
</web-app>
